@font-face {
  font-family: Willkids;
  src: url(../../assets/Willkids.otf) format("opentype");
}

@font-face {
  font-family: Peachcake;
  src: url(../../assets/Peachcake.otf) format("opentype");
}

@font-face {
  font-family: Superdisco;
  src: url(../../assets/Superdisco.ttf) format("opentype");
}

.curved-text {
  fill: white;
  text-shadow: 5px 5px #0000006e;
}

.MainScreen--title2{
  font-family: Peachcake;
  font-size: 2.7vw;
  position: absolute;
  top: 250px;
  text-shadow: 2px 2px #0000006e;
}

.MainScreen--button{
  position: absolute;
  top: 350px;
  background-color: #fac720;
  color: #0272fc;
  font-family: Superdisco;
  font-size: 40px;
  text-align: center;
  border-radius: 25px;
  padding: 15px 60px;
  box-shadow: 5px 5px #0000006e;
}

.MainScreen--input{
  position: absolute;
  top: 350px;
  color:black;
  height: 100px;
  width: 500px;
  font-family: Superdisco;
  font-size: 40px;
  border-radius: 25px;
}
.MainScreen--input[type=text]{
  padding: 20px;
}