@font-face {
  font-family: LfL;
  src: url("../../assets/Letters for Learners.ttf") format("truetype");
}

.text {
  font-family: LfL, Arial, sans-serif; /* Provide fallback fonts */
  line-height: 1.5;
  font-size: 30px;
  font-weight: 900;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-shadow: 0 0 10px #000000;
}

.carousel-container {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative; /* Ensure relative positioning for absolute child */
}